<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Promillelaskuri
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alcometer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <ion-list>
      <ion-item>
        <ion-label>Paino:</ion-label>
        <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sukupuoli:</ion-label>
        <ion-select [(ngModel)]="gender">
          <ion-select-option *ngFor="let value of genders">{{value}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Aika tunneissa:</ion-label>
        <ion-select [(ngModel)]="aika">
          <ion-select-option *ngFor="let value of time">{{value}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Annos määrä:</ion-label>
        <ion-select [(ngModel)]="maara">
          <ion-select-option *ngFor="let value of bottles">{{value}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
      <ion-label>Promillit:</ion-label>
      <ion-input name="promilles" value="{{promilles}}" readonly></ion-input>
    </ion-item>
    </ion-list>

    <br>

      <ion-button (click)="calculate()">Alkoholia veressä</ion-button>
  </div>
</ion-content>
